.btn-menu{
    background-color: transparent;
    border:none;
    color:#ffffff;
    font-size:1.8em
}

.btn-yellow {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;
    text-decoration: none;
    padding: 12px 25px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    transition: transform 0.3s ease;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
        transform: scale(1.2);
    }
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 15px 25px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
        animation-name: btn-t;
        animation-duration: 0.4s;

    }

    @keyframes btn-t {
        from {
            background-color: black;
        }

        to {
            border-color:gold;
            border:1px solid;
        }
    }


}





@media (min-width:1200px) {
    button {
        display: flex;
        align-items: center;
        border: none;
        background-color: transparent;



        .btn-video {
            padding: 0;
            margin-top: 0;
            border: none;
            margin-left: 15px;


        }

        .btn-video:hover {
            margin-top: 0;
            padding: 5px 10px;
        }


    }
}

.btn-video {
    color: #191919;
    text-decoration: none;
    padding: 6px 12px; //mobile
    transition: transform 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease;
    border: 1px solid #DAD9D3;
    border-radius: 25px;
    margin-top: 15px;
    display:flex;







    i {
        padding-right: 15px;
        font-size: 2em;

    }
}

.btn-video:hover {
    transform: scale(1.1);
    border-radius: 25px;
    background-color: #000000;
    color: #ffffff;


}

.btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 25px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    
  }
  .btn-black i {
    margin-left: 8px;
    font-size: 0.9em;
  }
  .btn-black:hover {
    background-color: #FFFFFF;
    border: 1px solid #191919;
    color: #191919;
    animation: opacity-animation 1s ease-in-out;
  }
  @keyframes opacity-animation {
    0% {
      opacity: 0.3;
    }
    50% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }







