.featureSection {
    @media (min-width:992px) {
        max-width: 1920px;
    } 

    border:1px solid yellow;
    display:grid;
    grid-template-columns: auto;

  .feature-content{ 

    display:grid;
    grid-template-columns: auto;


    @media (min-width:992px) {
        grid-template-columns: 1fr 2fr;
    }

    .title{
        background-color:orange;
    }
    .button{
       
        
        a{
            display:flex;
            justify-content: center;
        }
    }


    .features{
        background-color:yellow;

        display:grid;
        
        @media (min-width:992px) {
            grid-template-columns: 1fr 1fr;
        }
    
        .box-1{
            border:black 1px solid;

            @media (min-width:992px) {
                display:flex;
                flex-direction: column;
                justify-content: end;
                
            }

            .feature-content {
                border:1px solid black;
                display:flex;
                justify-content: center;

                @media (min-width:992px) {
                          
                }

            }

            .feature-img{
                padding-bottom:5%;
            }

        }

       
    }


    
    
}

}

      
    
  
  
  
  